/*
	https://coolors.co/d34e24-f78769-c47335-c49775-d8c0ad
	http://paletton.com/#uid=10a0u0kipu+8vP2dME1mlr9qfmJ

*/

@import url('https://fonts.googleapis.com/css?family=Oswald:300');


body {
	font-family: 'Oswald', sans-serif;
	color: black;
}

h1, h2, h3, h4, h5 , h6 {
	margin: 10px 0px;
	color: #D34E24;
	font-size: 150%;
}

.jumbotron {
	padding: 70px;
	background-color: #D34E24;
	color: white;
}

.container-fluid, .container {
    padding: 50px 50px;
	font-size: 110%;
}

.nav {
	padding: 0px;
}

.navbar {
	border-radius: 0px;
	border: none;
	background-color: #D34E24;
	color: white;
	margin-bottom: 0px;
}


.navbar li a {
	color: white !important
}

.navbar-header .navbar-brand {
	color: white;
	padding-top: 14px;
}

.navbar-nav li.active a {
	background-color: #222 !important;
	color: white !important;
}

.navbar-nav li:hover, .navbar-nav li.active a:hover {
	background-color: #F78769 !important;
	color: black !important;
}

.warning {
	color: red;	
}

footer {
	background-color: #222;
	color: white;
	padding: 10px;
}

footer a {
	color: white;
}

footer a:hover  {
	text-decoration: none;
	color: #4286F4;
}

.social {
	list-style-type: none;
	padding: 0;
	margin: 0;	
}

.social li {
	height: 40px;
	padding-left: 40px;
	padding-top: 4px;
}

.ico-linkedin {
	background: url('../ico/social-1_round-linkedin.svg') no-repeat left top;
}

.ico-facebook {
	background: url('../ico/social-1_round-facebook.svg') no-repeat left top;
}

.ico-github {
	background: url('../ico/social-1_round-github.svg') no-repeat left top;
}

.ico-wordpress {
	background: url('../ico/social-1_round-wordpress.svg') no-repeat left top;
}