
#board {
    border: solid medium;
}

.box {
    border: solid 1px;
}

.error {
    color: #FF0D0D;
    border-color: #FF0D0D;
}

.cell  { 
    border: solid thin black;
    height: 3em;
    width: 3em;    
    text-align: center; 
    padding: 1px;
    margin: 5px;
}

.checked {
    background-color: #bfccfc
}

.cell:hover { 
    background-color: #F2F2F2;
}

.altbox {
    background-color: #C7C7C7;
}

.selected {
    background-color: #42F498;
}

.selected:hover {
   background-color: #0dd96f;
}

.clue {
    font-weight: bold;
}
