<nav id="navbar" class="sticky-container" data-sticky-container>
	<div data-sticky data-options="marginTop:0;" data-sticky-on="small">

		<div class="top-bar" id="main-nav">
			<div class="top-bar-left">
				<ul class="menu">
					<li><button class="menu-icon" type="button" data-toggle="sideNavigation"></button></li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li><a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<!-- NAV -->
