$content-width: 1200px;
$font-style: "Raleway", sans-serif;
$primary-color: #ff7b08;
// $secondary-color: #512821;
$secondary-color: #d60002;
$body-background: #1f1f1f;
$body-font-color: #ffffff;
$link-hover-color: #d60002;
$light: #ffce4d;
$header-height: 50px;
$footer: #8c8c8c;
$footer-height: 250px;

// Overrite Foundation styling;
$foundation-palette: (primary: $primary-color, secondary: $secondary-color, success: #3adb76, warning: #ffae00, alert: #cc4b37);

$topbar-title-spacing: 0;
$titlebar-icon-color-hover: $secondary-color;

$card-background: $body-background;
$card-font-color: $body-font-color;
$card-divider-background: $body-background;
$card-border: 1px solid $primary-color;

$accordion-title-font-size: 1em;
$accordion-content-background: $body-background;

$table-background: $body-background;
$table-head-background: $body-font-color;
$table-border: 1px solid $body-font-color;

$tab-content-background: $body-background;
$tab-item-font-size: 1em;

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
