*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $body-font-color;
  font-family: $font-style;
  font-size: 1em;
  background-color: $body-background;
  line-height: 1.5;
}

/*--------------------------------------------------------------
 # Elememts
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 # Typography
 --------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-style;
  font-weight: 500;
  line-height: 1.5;
  margin: 1rem 0;
}

h1 {
  font-size: 2.5em;

  a,
  a:visited {
    text-decoration: none;
  }

  a:focus,
  a:hover {}
}

h2 {
  font-size: 2em;

  a,
  a:visited {
    text-decoration: none;
  }

  a:focus,
  a:hover {}
}

a,
a:visited {}

a:focus,
a:hover {}

pre {
  margin: 1.1em 0;
  padding: 10px 30px !important;
  line-height: 2em;
  max-height: 60em;
  white-space: pre;
  border: 1px solid #ccc;
  border-left: 10px solid;
}

dl,
dt {
  padding: 5px 0;
}

code {
  background-color: $body-background;
  border: none;
  color: $body-font-color;
}

blockquote {
  border-left-width: 10px;
  padding: 10px 20px;

  p {
    display: inline;
  }
}

blockquote::before,
blockquote::after {
  content: '"';
  display: inline;
  font-size: 1.5em;
}

/*--------------------------------------------------------------
# Foundation Customisation
--------------------------------------------------------------*/
.accordion {
  .accordion-title {
    text-decoration: none;
    font-weight: bold;
  }
}

.tabs {
  .tabs-title,
  .tabs-title a {
    font-weight: bold;
    text-decoration: none;
  }
}

/*--------------------------------------------------------------
 # Social Icons
---------------------------------------------------------------*/
.social-icon-list {
  padding: 0;
  margin: 0 auto;

  li {
    list-style: none;
    line-height: 1.5;
    display: inline-block;
    padding: 5px;

    a {
      text-decoration: none;
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 2px solid;
      border-radius: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 45px;

      &:hover,
      &:focus {
        color: $secondary-color;
      }
    }

    i {
      width: 40px;
    }
  }
}

.social-vertical-list {
  margin: 0 auto;

  li {
    list-style: none;
    margin-bottom: 10px;

    a {
      text-decoration: none;

      i {
        display: inline-block;
        width: 2em;
        text-align: center;
      }

      span {}
    }
  }
}

/*--------------------------------------------------------------
 # Navigation bar
---------------------------------------------------------------*/
#navbar {
  .top-bar {
    background-color: $primary-color;
    padding: 0;
    margin-bottom: 0;
  }

  .title-bar {
    background-color: $primary-color;
  }

  button {
    // height: 20px;
    margin-left: 10px;
  }

  .top-bar-title {
    margin-left: 10px;
    padding: 0 8px;
    display: inline-block;

    span {
      display: inline;
    }

    a {
      color: $body-font-color;
      padding: 1rem;
      display: inline-block;
      line-height: 1.5;
      text-decoration: none;
    }
  }

  .menu {
    background-color: $primary-color;
    margin: auto;

    li {
      display: block;

      a {
        color: $body-font-color;
        text-decoration: none;
        padding: 1rem;
        line-height: 1;
        position: relative;

        &:after {
          content: "";
          height: 2px;
          transition: transform ease-out 0.5s;
          background: $body-font-color;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 5px;

          @include scale(0);
        }

        &.active:after,
        &:hover:after {
          display: block;
          width: 75%;
          margin: auto;

          @include scale(1);
        }
      }

      input,
      button {
        margin: 1rem;
      }
    }
  }
}

@media print, screen and (max-width: 40em) {
  #navbar {
    .title-bar {
      display: none;
    }

    .top-bar {
      div {
        flex: 0 0 auto;
      }
    }
  }
}

/*--------------------------------------------------------------
 # Side Profile Bar
---------------------------------------------------------------*/
#sidebar {
  padding: 0 1em;

  .is-stuck {
    padding-top: 4em;
  }

  /* Small Screens */
  @media screen and (max-width: 39.9375em) {
    padding: 1em;

    .author-avatar {
      width: 20%;
      display: inline-block;
    }

    .author-info {
      width: 70%;
      display: inline-block;
      vertical-align: top;
      padding: 0 1rem;

      div {
        display: inline-block;

        * {
          margin-top: 0;
        }
      }

      .social-links {
        display: none;
        position: absolute;
        background: $body-background;

        @include contenet-boxes($primary-color, 1em);

        li {
          display: inline-block;
          margin: 0 0.5rem 0.5rem 0;
        }
      }

      #sidebar-button {
        display: inline-block;
        margin: 0;
      }
    }
  }
}

/*--------------------------------------------------------------
 # Header
--------------------------------------------------------------*/
header {
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
  min-height: 200px;

  @include linear-gradient($primary-color, $secondary-color);

  div {
    * {
      color: $body-font-color;
    }

    h1 {
      font-size: 3.5em;

      a {
        font-weight: 500;
      }
    }
  }
}

/*--------------------------------------------------------------
 # Side Canvas Panel
 --------------------------------------------------------------*/
#side-canvas-bar {
  background-color: $body-font-color;
  color: $body-background;
  padding: 60px 10px;

  .close-button:focus {
    outline-width: 0;
  }

  .menu {
    li {
      border-top: solid 1px $body-background;
      padding: 10px 0px;
    }

    li:first-of-type {
      border-top: none;
    }

    li:last-of-type {
      border-bottom: solid 1px $body-background;
    }
  }
}

/*--------------------------------------------------------------
 # Content
 --------------------------------------------------------------*/
main {
  min-height: 400px;
  background-color: $body-background;
  width: 100%;
  transition: .3s ease all;
}

img {
  max-width: 100%;
}

.full-window {
  width: 100vw;
  height: 100vh;
}

.center-title {
  text-align: center !important;
}

.banner {
  display: table;
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  @include dark-overlay;

  &:after {
    background: rgba(0, 0, 0, 0.4);
  }

  .banner-contents {
    @include absolute-center;

    * {
      z-index: 4;
      text-align: center;
    }
  }
}

/*--------------------------------------------------------------
 ## Blog loop
 --------------------------------------------------------------*/
#post-loop {
  .title {
    margin-top: 0;

    a {
      text-decoration: none;
    }
  }

  .post-panel {
    min-height: 400px;
    position: relative;

    @include contenet-boxes;

    time {
      display: block;
      margin: 10px 0;
    }

    .button {
      position: absolute;
      bottom: 0;
    }
  }

  @media screen and (max-width: 641px) {
    .post-panel {
      min-height: auto;
      margin-bottom: 30px;

      .button {
        position: relative;
      }
    }
  }
}

/*--------------------------------------------------------------
  ## Projects
--------------------------------------------------------------*/
#repository {
  .cell {
    margin-bottom: 20px;
    word-wrap: break-word;

    @include contenet-boxes;
  }
}

/*--------------------------------------------------------------
 # Footer
 --------------------------------------------------------------*/
footer {
  width: 100%;
  padding: 40px;
  text-align: center;
  font-size: 0.7em;
  height: $footer-height;
  position: relative;

  .footer-bottom {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Icons
 --------------------------------------------------------------*/
.menu-icon {
  margin-top: 2px;
}

.centered {
  margin: auto;
}
