$content-width: 1200px;
$font-style: "Raleway", sans-serif;
$primary-color: #ff7b08;
$secondary-color: #d60002;
$body-background: #1f1f1f;
$body-font-color: #ffffff;
$link-hover-color: #d60002;
$light: #ffce4d;
$header-height: 50px;
$footer: #8c8c8c;
$footer-height: 250px;
